# 2023-02-18, -03-15

name: semgrep-01
on:
  push:
    branches:
      - main
      # - nonexistent  # to avoid triggering
env:
  SCANNED_REPO: 'scanned-repo'  # constant for multiple reuse
jobs:
  semgrep-SAST:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # https://github.com/actions/checkout
        with:
          repository: 'solita/sv-security-scans-05a'  # Default: ${{ github.repository }}
          ref: 'snyk-02'  # 'main'
          # token: ''  # Default: ${{ github.token }}
          path: ${{ env.SCANNED_REPO }}  # Relative path under $GITHUB_WORKSPACE to place the repository
      - name: Explore
        run: |
          set -ux
          echo "GITHUB_WORKSPACE: ${GITHUB_WORKSPACE}"
          pwd
          ls -al
          ls -al ${SCANNED_REPO}
        if: ${{ '0' == '0' }}  # I use those to easily include/exclude a step
      - name: Semgrep scan 1
        run: |
          set -ux
          pwd
          ls -al
          docker run --rm -v "${PWD}:/src" returntocorp/semgrep semgrep --config=auto --sarif -o semgrep1.sarif --verbose
        working-directory: ${{ env.SCANNED_REPO }}
        if: ${{ '0' == '0' }}  # I use those to easily include/exclude a step
      - name: Explore 2
        run: |
          set -ux
          pwd
          ls -al
          ls -al ${SCANNED_REPO}
        if: ${{ '0' == '0' }}  # I use those to easily include/exclude a step
      # https://github.com/actions/upload-artifact
      - name: Upload results
        uses: actions/upload-artifact@v3
        with:
          name: semgrep-01-sarif
          path: ${{ env.SCANNED_REPO }}/semgrep1.sarif
        # working-directory: ${{ env.SCANNED_REPO }}  # Unexpected value 'working-directory'

      - name: Upload SARIF file to GitHub, Public/GHAS only!
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${SCANNED_REPO}/semgrep1.sarif
        # if: ${{ '1' == '0' }}
        if: always()  # when the previous step fails for so many vulnerabilities
